.home-identity-section {
  margin-top: var(--margin-top-default);
}

.home-identity-section__content-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: var(--margin-top-default);
  padding: to-rem(120) to-rem(116);
  background: var(--col-white-primary);
  border-radius: to-rem(32);
}

.home-identity-section__title-1, .home-identity-section__title-2 {
  text-align: center;
  font-size: to-rem(68);
  font-weight: 700;
  line-height: 88px;
  text-transform: capitalize;
}

.home-identity-section__title-1 {
  color: var(--col-primary-black);

}

.home-identity-section__title-2 {
  color: var(--col-green-primary);
}

.home-identity-section__providers-title {
  display: inline-block;

  color: var(--col-primary-black);
  font-size: to-rem(24);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: to-rem(48);
  margin-top: to-rem(51);
}

.home-identity-section__container-grid {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.home-identity-section__row {
  display: flex;
  gap: 32px;
}

.home-identity-section__circle {
  width: 40px;
  height: 40px;
  background-color: #EBEEF1;
  border-radius: 50%;
  position: relative;
  z-index: var(--z-default);

}

.home-identity-section__dev-resources{
  display: flex;
  flex-direction: column;
  z-index: var(--z-default);
}

.home-identity-section__resource{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #FFF;
  padding: to-rem(24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: to-rem(400);
}

.home-identity-section__resource-info{
  display: flex;
  align-items: center;
}

.home-identity-section__resource-title {
  color: var(--col-primary-black);
  font-size: to-rem(16);
  font-weight: 500;
  margin-bottom: to-rem(8);
}

.home-identity-section__resource-subtitle{
  color: rgba(var(--col-primary-black-rgb), 0.60);
  font-size: 14px;
  font-weight: 400;
}

.home-identity-section__resource-tag{
  margin-left: to-rem(8);
  font-size: to-rem(10);
  font-weight: 600;
  border-radius: to-rem(100);
  padding: to-rem(8);
}

.home-identity-section__resource-img{
  width: to-rem(48);
  height: to-rem(48);
  border-radius: to-rem(100);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: to-rem(16);
}

.tag-purple{
  color: #8247E5;
  background: rgba(130, 71, 229, 0.05);
}

.tag-violet{
  color: #767DFF;
  background: rgba(118, 125, 255, 0.05);
}

.tag-gray{
  color: #000;
  background: rgba(0, 0, 0, 0.05);
}

.tag-blue{
  color: #4799E5;
  background: rgba(71, 153, 229, 0.05);
}

.home-identity-section__resource-img-skeleton{
  border-radius: to-rem(100);
  background: rgba(var(--col-primary-black-rgb), 0.05);
}

.home-identity-section__resource-title-skeleton{
  border-radius: to-rem(20);
  background: rgba(var(--col-primary-black-rgb), 0.05);
  width: to-rem(148);
  height: to-rem(14);
}

.home-identity-section__resource-subtitle-skeleton{
  border-radius: to-rem(20);
  background: rgba(var(--col-primary-black-rgb), 0.05);
  width: to-rem(37);
  height: to-rem(12);
}

.home-identity-section__line{
  position: absolute;
  top: 20px;
  left: 40px;
  border-bottom: 3px dashed #CDD2D8;
  width: 45vw;
}