.home-identity-section {
  margin-top: var(--margin-top-default);
}

.home-identity-section__content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: var(--margin-top-default);
  padding: to-rem(120) to-rem(116);
  background: var(--col-white-primary);
  border-radius: to-rem(32);
  @include respond-to(medium) {
    padding: to-rem(40) to-rem(36);
    flex-direction: column;
  }
}

.home-identity-section__title-1, .home-identity-section__title-2 {
  text-align: center;
  font-size: to-rem(68);
  font-weight: 700;
  line-height: to-rem(88);
  text-transform: capitalize;
  @include respond-to(medium) {
    font-size: to-rem(32);
    text-align: center;
    line-height: normal;
  }
}

.home-identity-section__title-1 {
  color: var(--col-primary-black);
}

.home-identity-section__title-2 {
  color: var(--col-green-primary);
}

.home-identity-section__providers {
  @include respond-to(medium) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.home-identity-section__providers-title {
  display: inline-block;
  color: var(--col-primary-black);
  font-size: to-rem(24);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: to-rem(48);
  margin-top: to-rem(51);
  @include respond-to(medium) {
    font-size: to-rem(24);
    text-align: center;
    margin-top: 0;
  }
}

.home-identity-section__container-grid {
  display: flex;
  flex-direction: column;
  gap: to-rem(48);
}

.home-identity-section__row {
  display: flex;
  gap: to-rem(32);
  @include respond-to(medium) {
    gap: to-rem(17.5);
    justify-content: center;
  }
}

.home-identity-section__circle {
  width: to-rem(40);
  height: to-rem(40);
  background-color: #ebeef1;
  border-radius: 50%;
  position: relative;
  z-index: var(--z-default);
  @include respond-to(medium) {
    width: to-rem(28);
    height: to-rem(28);
  }
}

.home-identity-section__dev-resources {
  display: flex;
  flex-direction: column;
  z-index: var(--z-default);
  @include respond-to(medium) {
    margin-top: to-rem(40);
  }
}

.home-identity-section__resource {
  border-bottom: 1px solid rgba(0, 0, 0, 5%);
  background: #ffffff;
  padding: to-rem(24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: to-rem(400);
  @include respond-to(medium) {
    min-width: auto;
    padding: to-rem(15);
  }
}

.home-identity-section__resource-info {
  display: flex;
  align-items: center;
}

.home-identity-section__resource-title {
  color: var(--col-primary-black);
  font-size: to-rem(16);
  font-weight: 500;
  margin-bottom: to-rem(8);
  @include respond-to(medium) {
    font-size: to-rem(10);
  }
}

.home-identity-section__resource-subtitle {
  color: rgba(var(--col-primary-black-rgb), 0.6);
  font-weight: 400;
  @include respond-to(medium) {
    font-size: to-rem(10);
  }
}

.home-identity-section__resource-tag {
  margin-left: to-rem(8);
  font-size: to-rem(10);
  font-weight: 600;
  border-radius: to-rem(100);
  padding: to-rem(8);
  @include respond-to(medium) {
    font-size: to-rem(6);
  }
}

.home-identity-section__resource-img-wrapper {
  width: to-rem(48);
  height: to-rem(48);
  border-radius: to-rem(100);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: to-rem(16);
  overflow: hidden;

  @include respond-to(medium) {
    width: to-rem(31);
    height: to-rem(31);
  }
}

.home-identity-section__resource-img {
  max-width: 50%;
}

.tag-purple {
  color: #8247e5;
  background: rgba(130, 71, 229, 5%);
}

.tag-violet {
  color: #767dff;
  background: rgba(118, 125, 255, 5%);
}

.tag-gray {
  color: #000000;
  background: rgba(0, 0, 0, 5%);
}

.tag-blue {
  color: #4799e5;
  background: rgba(71, 153, 229, 5%);
}

.home-identity-section__resource-img-skeleton {
  width: to-rem(48);
  height: to-rem(48);
  border-radius: to-rem(100);
  background: rgba(var(--col-primary-black-rgb), 0.05);
  margin-right: to-rem(16);
  @include respond-to(medium) {
    width: to-rem(30);
    height: to-rem(30);
  }
}

.home-identity-section__resource-title-skeleton {
  border-radius: to-rem(20);
  background: rgba(var(--col-primary-black-rgb), 0.05);
  width: to-rem(148);
  height: to-rem(14);
}

.home-identity-section__resource-subtitle-skeleton {
  border-radius: to-rem(20);
  background: rgba(var(--col-primary-black-rgb), 0.05);
  width: to-rem(37);
  height: to-rem(12);
}

.home-identity-section__line {
  position: absolute;
  top: to-rem(20);
  left: to-rem(40);
  border-bottom: 3px dashed #cdd2d8;
  width: 45vw;
  @include respond-to(medium) {
    display: none;
  }

  &-mobile {
    @include respond-to(medium) {
      position: absolute;
      top: to-rem(28);
      left: to-rem(12.5);
      height: to-rem(60);
      border-right: 3px dashed #cdd2d8;
    }
  }
}