:root {
  // Text
  --color-text-primary: #202020;
  --color-text-secondary: rgba(32, 32, 32, 0.56);

  // Primary
  --color-primary-base: #CDFD4A;
  --color-primary-dark: #ACD53E;

  // Secondary
  --color-secondary-base: #202020;

  // Background
  --color-background-container: #FFFFFF;
  --color-background-component: rgba(32, 32, 32, 0.05);

  // Base
  --color-base-black: #202020;
  --color-base-white: #FFFFFF;
}
