$col-total-black: #000000;
$col-total-black-rgb: hex-to-rgb($col-total-black);

$col-total-white: #ffffff;
$col-total-white-rgb: hex-to-rgb($col-total-white);

$col-black-primary: #000814;
$col-black-primary-rgb: hex-to-rgb(#000814);

$col-black-secondary: #242629;
$col-black-secondary-rgb: hex-to-rgb(#242629);

$col-green-primary: #52b69a;
$col-green-primary-rgb: hex-to-rgb(#52b69a);

$col-white-secondary: #f5f6f8;
$col-white-secondary-rgb: hex-to-rgb(#f5f6f8);

$col-white-primary: #f9fafb;
$col-white-primary-rgb: hex-to-rgb(#f9fafb);

$col-blue-primary: #367bcf;
$col-blue-primary-rgb: hex-to-rgb(#367bcf);