$col-total-black: #000000;
$col-total-black-rgb: hex-to-rgb($col-total-black);

$col-total-white: #ffffff;
$col-total-white-rgb: hex-to-rgb($col-total-white);

$col-black-primary: #000814;
$col-black-primary-rgb: hex-to-rgb(#000814);

$col-black-secondary: #242629;
$col-black-secondary-rgb: hex-to-rgb(#242629);

$col-green-primary: #52B69A;
$col-green-primary-rgb: hex-to-rgb(#52B69A);

$col-white-secondary: #F5F6F8;
$col-white-secondary-rgb: hex-to-rgb(#F5F6F8);

$col-white-primary: #F9FAFB;
$col-white-primary-rgb: hex-to-rgb(#F9FAFB);

$col-blue-primary: #367BCF;
$col-blue-primary-rgb: hex-to-rgb(#367BCF);