.home-tiles-section {
  margin-top: var(--margin-top-default);
}

.home-tiles-section__wrapper{
  display: flex;
  flex-direction: column;
}

.home-tiles-section__header, .home-tiles-section__footer{
  display: flex;
  justify-content: space-between;
}

.home-tiles-section__footer{
  margin-top: var(--margin-top-default);
}

.home-tiles-section__tile{
  border-radius: 32px;
  background: var(--col-white-primary);
  width: calc( ( 100% - 24px ) / 2 );
  padding: to-rem(56) to-rem(56) to-rem(32);
  height: to-rem(789);
  overflow: hidden;
  position: relative;
}

.home-tiles-section__tile-title{
  color: var(--col-primary-black);
  font-size: to-rem(48);
  text-transform: capitalize;
}

.home-tiles-section__tile-description{
  color: rgba(var(--col-primary-black-rgb), 0.50);
  font-size: to-rem(20);
  font-weight: 400;
  text-transform: capitalize;
}

.home-tiles-section__tile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: to-rem(16);
  margin: to-rem(99) 0 to-rem(14);
  background: var(--col-total-white);
  box-shadow: var(--default-box-shadow);
  padding: to-rem(48);
}

.home-tiles-section__tile-card-name{
  margin-top: to-rem(12);
  color: var(--col-primary-black);
  font-size: to-rem(20);
  font-weight: 500;
}

.home-tiles-section__tile-card-followers {
  margin-top: to-rem(12);
  color: rgba(var(--col-primary-black-rgb), 0.60);
  font-size: to-rem(14);
  font-weight: 400;
}

.home-tiles-section__tile-text{
  display: flex;
  flex-direction: column;
  margin-left: to-rem(16);
}

.home-tiles-section__tile-img-skeleton{
  border-radius: to-rem(100);
  background: rgba(var(--col-primary-black-rgb), 0.05);
  width: to-rem(48);
  height: to-rem(48);
}

.home-tiles-section__tile-title-skeleton, .home-tiles-section__tile-subtitle-skeleton{
  border-radius: to-rem(20);
  background: rgba(var(--col-primary-black-rgb), 0.05);
}

.home-tiles-section__tile-subtitle-skeleton{
  width: to-rem(37);
  height: to-rem(12);
  margin-top: to-rem(8);
}

.home-tiles-section__tile-title-skeleton{
  width: to-rem(148);
  height: to-rem(14);
}

.home-tiles-section__tile-card-skeleton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--col-total-white);
  padding: to-rem(24);
  box-shadow: var(--default-box-shadow);
  border-radius: to-rem(16);
}

.home-tiles-section__tile-card-info{
  display: flex;
  align-items: center;
}

.home-tiles-section__tile-card-img-key-wrapper{
  margin-top: to-rem(12);
  filter: drop-shadow(0px 6px 24px rgba(82, 182, 154, 0.32));
}

.home-tiles-section__tile-user-img-wrapper{
  fill: linear-gradient(247deg, #52B69A -4.88%, #3B9F83 100%);
  filter: drop-shadow(0px 6px 24px rgba(82, 182, 154, 0.32));
}

.home-tiles-section__tile-dashboard-background{
  background: url('/static/img/bg-image.webp'), lightgray 50%;
  background-size: var(--tile-bg-width) var(--tile-bg-height);
  width: var(--tile-bg-width);
  height: var(--tile-bg-height);
}

.home-tiles-section__tile-dashboard{
  position: relative;
  margin-top: to-rem(156);
  border-radius: to-rem(8);
  border: 0.6px solid rgba(var(--col-total-black-rgb), 0.10);
  background: linear-gradient(90deg, #EBF0F1 0%, #EBF0F1 100.31%);
  padding: 0 to-rem(5) to-rem(5) to-rem(5);
  width: var(--tile-bg-width);
}

.home-tiles-section__tile-dashboard-toolbar{
  display: flex;
  align-items: center;
  height: to-rem(34);
  width: 100%;
  padding-left: to-rem(13);
}

.home-tiles-section__tile-dashboard-toolbar-dot{
  width: to-rem(8);
  height: to-rem(8);
  border-radius: to-rem(4);
  background: rgba(45, 48, 57, 0.16);
  margin-right: to-rem(5);
}

.home-tiles-section__tile-arrow-right-icon{
  transform: rotate(180deg);
  margin: 0 to-rem(10);
}

.home-tiles-section__tile-toolbar-icon{
  margin-left: to-rem(8);
  margin-right: to-rem(21);
}

.home-tiles-section__tile-dashboard-field{
  width: to-rem(165);
  height: to-rem(21);
  border-radius: to-rem(5);
  background: rgba(45, 48, 57, 0.10);
  display: flex;
  align-items: center;
  padding-left: to-rem(5);
  margin-left: 11vw;
}

.home-tiles-section__tile-content{
  margin-top: var(--margin-top-default);
}

.home-tiles-section__proof-of-age{
  border-radius: to-rem(16);
  background: linear-gradient(247deg, var(--col-green-primary) -4.88%, #3B9F83 100%);
  box-shadow: 0 6px 24px 0 rgba(82, 182, 154, 0.32);
  padding: to-rem(24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-tiles-section__proof-of-age-title{
  color: var(--col-total-white);
  font-size: to-rem(20);
  font-weight: 700;
  text-transform: capitalize;
}

.home-tiles-section__proof-of-age-subtitle{
  color: rgba(var(--col-total-white-rgb), 0.60);
  font-size: to-rem(14);
  font-weight: 400;
  text-transform: capitalize;
}

.home-tiles-section__proof-of-age-text{
  color: var(--col-total-white);
  font-size: to-rem(16);
  font-weight: 500;
  text-transform: capitalize;
}

.home-tiles-section__proof-of-age-footer-text{
  color: var(--col-total-white);
  font-size: to-rem(10);
  font-weight: 700;
  text-transform: capitalize;
}

.home-tiles-section__proof-of-age-footer-content{
  margin-top: to-rem(8);
  color: rgba(var(--col-total-white-rgb), 0.60);
  font-size: to-rem(14);
  font-weight: 400;
  text-transform: capitalize;
  white-space: nowrap;
}

.home-tiles-section__proof-of-age-footer-description{
  margin-left: to-rem(18);
}

.home-tiles-section__tile-protect-header{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: to-rem(35);
}

.home-tiles-section__tile-lock-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: to-rem(160);
  height: to-rem(206);
  border-radius: to-rem(16);
  background: var(--col-total-white);
  box-shadow: var(----default-box-shadow);
}

.home-tiles-section__proof-of-age-header{
  display: flex;
  justify-content: space-between;
}

.home-tiles-section__tile-protect-footer{
  display: flex;
}

.home-tiles-section__tile-protect-dapp{
  padding: to-rem(24);
  border-radius: 16px;
  background: var(--col-total-white);
  box-shadow: var(--default-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: to-rem(161);
  height: to-rem(146);
  margin-top: to-rem(32);

}

.home-tiles-section__dapp-text{
  color: var(--col-total-black);
  font-size: to-rem(16);
  font-weight: 600;
  text-transform: capitalize;
  margin-top: to-rem(16);
}

.home-tiles-section__tile-protect-lines{
  margin-left: to-rem(18);
  width: to-rem(280);
  margin-top: to-rem(17);
}

.home-tiles-section__tile-protect-line-top, .home-tiles-section__tile-protect-line-bottom{
  position: relative;
  color: rgba(var(--col-primary-black-rgb), 0.64);
  font-size: to-rem(16);
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: to-rem(10);
  display: flex;
  align-items: end;
  justify-content: center;
  width: to-rem(280);
  height: to-rem(75);
}

.home-tiles-section__tile-protect-line-top{
  padding-bottom: to-rem(4);

}

.home-tiles-section__tile-protect-vector{
  position: absolute;
  bottom: -3px;
  right: -2px;
}

.home-tiles-section__tile-protect-vector-2{
  position: absolute;
  bottom: 3px;
  right: 0;
}

.home-tiles-section__tile-decor-1{
  position: absolute;
  width: 115%;
  aspect-ratio: 1/1;
  left: -46px;
  bottom: -350px;
  border-radius: 740px;
  border: 1px solid rgba(var(--col-green-primary-rgb), 0.25);
  z-index: var(--z-default);
}

.home-tiles-section__tile-decor-2{
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  left: 0;
  bottom: -345px;
  border-radius: 647px;
  border: 1px solid rgba(var(--col-green-primary-rgb), 0.15);
}

.home-tiles-section__tile-decor-3{
  position: absolute;
  width: 87.5%;
  aspect-ratio: 1/1;
  bottom: -328px;
  border-radius: 542px;
  border: 1px solid rgba(var(--col-green-primary-rgb), 0.10);
}

.home-tiles-section__tile-zkevm-icon-wrapper{
  position: absolute;
  left: 40%;
  top: -30px;
  z-index: var(--z-icons);
  border-radius: 1475px;
  background: #8937E9;
  width: 60px;
  height: 60px;
  color: var(--col-total-white);
  font-size: to-rem(13);
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-tiles-section__tile-avalanche-icon-wrapper{
  position: absolute;
  top: 5%;
  right: 16%;
  z-index: var(--z-icons);
}

.home-tiles-section__tile-binance-icon-wrapper{
  position: absolute;
  top: -23px;
  right: 33.5%;
  z-index: var(--z-icons);
}

.home-tiles-section__tile-ether-icon-wrapper {
  position: absolute;
  top: 32px;
  left: 13%;
  z-index: var(--z-icons);
  border-radius: 1000px;
  background: #E9E9E9;
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-tiles-section__tile-polygon-icon-wrapper{
  position: absolute;
  top: 18%;
  left: 6.5%;
  z-index: var(--z-icons);
}