.home-tiles-section {
  margin-top: var(--margin-top-default);
}

.home-tiles-section__wrapper {
  display: flex;
  flex-direction: column;
}

.home-tiles-section__header, .home-tiles-section__footer {
  display: flex;
  justify-content: space-between;
  @include respond-to(medium) {
    flex-direction: column;
  }
}

.home-tiles-section__footer {
  margin-top: var(--margin-top-default);
  @include respond-to(medium) {
    margin-top: 0;
  }
}

.home-tiles-section__tile {
  border-radius: to-rem(32);
  background: var(--col-white-primary);
  width: calc((100% - 24px) / 2);
  padding: to-rem(56) to-rem(56) to-rem(32);
  height: to-rem(789);
  overflow: hidden;
  position: relative;
  @include respond-to(medium) {
    width: 100%;
    margin-top: to-rem(48);
    height: to-rem(481);
    padding: to-rem(32);
  }
}

.home-tiles-section__tile-title {
  color: var(--col-primary-black);
  font-size: to-rem(48);
  text-transform: capitalize;
  @include respond-to(medium) {
    font-size: to-rem(32);
  }
}

.home-tiles-section__tile-description {
  color: rgba(var(--col-primary-black-rgb), 0.5);
  font-size: to-rem(20);
  font-weight: 400;
  max-width: 80%;
  @include respond-to(medium) {
    font-size: to-rem(16);
    max-width: unset;
  }
}

.home-tiles-section__tile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: to-rem(16);
  margin-bottom: to-rem(14);
  background: var(--col-total-white);
  box-shadow: var(--default-box-shadow);
  padding: to-rem(48);
  @include respond-to(medium) {
    padding: to-rem(24);
    margin-bottom: to-rem(8);
  }
}

.home-tiles-section__tile-card-name {
  margin-top: to-rem(12);
  color: var(--col-primary-black);
  font-size: to-rem(20);
  font-weight: 500;
  @include respond-to(medium) {
    font-size: to-rem(10);
  }
}

.home-tiles-section__tile-card-followers {
  margin-top: to-rem(12);
  color: rgba(var(--col-primary-black-rgb), 0.6);
  font-size: to-rem(14);
  font-weight: 400;
  @include respond-to(medium) {
    font-size: to-rem(8);
  }
}

.home-tiles-section__tile-text {
  display: flex;
  flex-direction: column;
  margin-left: to-rem(16);
}

.home-tiles-section__tile-img-skeleton {
  border-radius: to-rem(100);
  background: rgba(var(--col-primary-black-rgb), 0.05);
  width: to-rem(48);
  height: to-rem(48);
  @include respond-to(medium) {
    width: to-rem(25);
    height: to-rem(25);
  }
}

.home-tiles-section__tile-title-skeleton, .home-tiles-section__tile-subtitle-skeleton {
  border-radius: to-rem(20);
  background: rgba(var(--col-primary-black-rgb), 0.05);
}

.home-tiles-section__tile-subtitle-skeleton {
  width: to-rem(37);
  height: to-rem(12);
  margin-top: to-rem(8);
  @include respond-to(medium) {
    height: to-rem(6);
  }
}

.home-tiles-section__tile-title-skeleton {
  width: to-rem(148);
  height: to-rem(14);
  @include respond-to(medium) {
    height: to-rem(7);
    width: to-rem(77);
  }
}

.home-tiles-section__tile-card-skeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--col-total-white);
  padding: to-rem(24);
  box-shadow: var(--default-box-shadow);
  border-radius: to-rem(16);
  @include respond-to(medium) {
    padding: to-rem(12);
  }
}

.home-tiles-section__tile-card-info {
  display: flex;
  align-items: center;
}

.home-tiles-section__tile-card-img-key-wrapper {
  margin-top: to-rem(12);
  filter: drop-shadow(0 6px 24px rgba(82, 182, 154, 32%));
  @include respond-to(medium) {
    width: to-rem(16);
    height: to-rem(16);
  }
}

.home-tiles-section__tile-user-img-wrapper {
  fill: linear-gradient(247deg, #52b69a -4.88%, #3b9f83 100%);
  filter: drop-shadow(0 6px 24px rgba(82, 182, 154, 32%));
  @include respond-to(medium) {
    width: to-rem(36);
    height: to-rem(36);
  }
}

.home-tiles-section__tile-dashboard-background {
  background: url('/static/img/bg-image.webp'), #d3d3d3ff 50%;
  background-size: var(--tile-bg-width) var(--tile-bg-height);
  width: var(--tile-bg-width);
  height: var(--tile-bg-height);
}

.home-tiles-section__tile-dashboard {
  position: relative;
  border-radius: to-rem(8);
  border: 0.6px solid rgba(var(--col-total-black-rgb), 0.1);
  background: linear-gradient(90deg, #ebf0f1 0%, #ebf0f1 100.31%);
  padding: 0 to-rem(5) to-rem(5) to-rem(5);
  width: var(--tile-bg-width);
}

.home-tiles-section__tile-dashboard-toolbar {
  display: flex;
  align-items: center;
  height: to-rem(34);
  width: 100%;
  padding-left: to-rem(13);
}

.home-tiles-section__tile-dashboard-toolbar-dot {
  width: to-rem(8);
  height: to-rem(8);
  border-radius: to-rem(4);
  background: rgba(45, 48, 57, 16%);
  margin-right: to-rem(5);
}

.home-tiles-section__tile-arrow-right-icon {
  transform: rotate(180deg);
  margin: 0 to-rem(10);
}

.home-tiles-section__tile-toolbar-icon {
  margin-left: to-rem(8);
  margin-right: to-rem(21);
}

.home-tiles-section__tile-dashboard-field {
  width: to-rem(165);
  height: to-rem(21);
  border-radius: to-rem(5);
  background: rgba(45, 48, 57, 10%);
  display: flex;
  align-items: center;
  padding-left: to-rem(5);
  margin-left: 11vw;
  @include respond-to(medium) {
    width: to-rem(84);
  }
}

.home-tiles-section__tile-content {
  margin-top: var(--margin-top-default);
  @include respond-to(medium) {
    margin-top: to-rem(50);
  }
}

.home-tiles-section__proof-of-age {
  border-radius: to-rem(16);
  background: linear-gradient(247deg, var(--col-green-primary) -4.88%, #3b9f83 100%);
  box-shadow: var(--secondary-box-shadow);
  padding: to-rem(24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include respond-to(medium) {
    padding: to-rem(12);
  }
}

.home-tiles-section__proof-of-age-title {
  color: var(--col-total-white);
  font-size: to-rem(20);
  font-weight: 700;
  text-transform: capitalize;
  @include respond-to(medium) {
    font-size: to-rem(10);
  }
}

.home-tiles-section__proof-of-age-subtitle {
  color: rgba(var(--col-total-white-rgb), 0.6);
  font-size: to-rem(14);
  font-weight: 400;
  text-transform: capitalize;

  &-white{
    color: var(--col-total-white);
  }

  @include respond-to(medium) {
    font-size: to-rem(7);
  }
}

.home-tiles-section__proof-of-age-text {
  color: var(--col-total-white);
  font-size: to-rem(16);
  font-weight: 500;
  text-transform: capitalize;
  @include respond-to(medium) {
    font-size: to-rem(8);
  }
}

.home-tiles-section__proof-of-age-footer-text {
  color: var(--col-total-white);
  font-size: to-rem(10);
  font-weight: 700;
  text-transform: capitalize;
  @include respond-to(medium) {
    font-size: to-rem(5.5);
    margin-top: to-rem(12);
  }
}

.home-tiles-section__proof-of-age-footer-content {
  margin-top: to-rem(8);
  color: rgba(var(--col-total-white-rgb), 0.6);
  font-size: to-rem(14);
  font-weight: 400;
  text-transform: capitalize;
  white-space: nowrap;
  @include respond-to(medium) {
    font-size: to-rem(7.5);
    margin-top: to-rem(4);
  }
}

.home-tiles-section__proof-of-age-footer-description {
  margin-left: to-rem(18);
  @include respond-to(medium) {
    margin-left: to-rem(9);
  }
}

.home-tiles-section__tile-protect-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: to-rem(35);
  @include respond-to(medium) {
    grid-gap: to-rem(18);
  }
}

.home-tiles-section__tile-lock-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: to-rem(161);
  height: to-rem(206);
  border-radius: to-rem(16);
  background: var(--col-total-white);
  box-shadow: var(--default-box-shadow);
  @include respond-to(medium) {
    height: auto;
    width: auto;
  }
}

.home-tiles-section__tile-lock-card-img {
  @include respond-to(medium) {
    height: to-rem(64);
    width: to-rem(64);
  }
}

.home-tiles-section__proof-of-age-header {
  display: flex;
  justify-content: space-between;
}

.home-tiles-section__tile-protect-footer {
  display: flex;
}

.home-tiles-section__tile-protect-dapp {
  padding: to-rem(24);
  border-radius: to-rem(16);
  background: var(--col-total-white);
  box-shadow: var(--default-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: to-rem(161);
  height: to-rem(146);
  margin-top: to-rem(32);
  @include respond-to(medium) {
    padding: to-rem(12);
    width: to-rem(85);
    height: auto;
  }
}

.home-tiles-section__dapp-text {
  color: var(--col-total-black);
  font-size: to-rem(16);
  font-weight: 600;
  text-transform: capitalize;
  margin-top: to-rem(16);
  @include respond-to(medium) {
    font-size: to-rem(8.5);
  }
}

.home-tiles-section__tile-protect-lines {
  margin-left: to-rem(18);
  margin-top: to-rem(17);
}

.home-tiles-section__tile-protect-line-top,
.home-tiles-section__tile-protect-line-bottom {
  position: relative;
  color: rgba(var(--col-primary-black-rgb), 0.64);
  font-size: to-rem(16);
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: to-rem(10);
  display: flex;
  align-items: end;
  justify-content: center;
  width: to-rem(280);
  height: to-rem(75);
  @include respond-to(medium) {
    width: to-rem(150);
    height: to-rem(40);
    font-size: to-rem(10);
  }
}

.home-tiles-section__tile-protect-line-top {
  padding-bottom: to-rem(4);
}

.home-tiles-section__tile-protect-vector {
  position: absolute;
  bottom: to-rem(-3);
  right: to-rem(-2);
}

.home-tiles-section__tile-protect-vector-2 {
  position: absolute;
  bottom: to-rem(3);
  right: 0;
  @include respond-to(medium) {
    right: to-rem(-1);
  }
}

.home-tiles-section__tile-decor-1 {
  position: absolute;
  width: 115%;
  aspect-ratio: 1/1;
  left: to-rem(-46);
  bottom: to-rem(-350);
  border-radius: to-rem(740);
  border: 1px solid rgba(var(--col-green-primary-rgb), 0.25);
  z-index: var(--z-default);
  @include respond-to(medium) {
    width: to-rem(434);
    height: to-rem(434);
    border-radius: to-rem(434);
    bottom: to-rem(-180);
  }
}

.home-tiles-section__tile-decor-2 {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  left: 0;
  bottom: to-rem(-345);
  border-radius: to-rem(647);
  border: 1px solid rgba(var(--col-green-primary-rgb), 0.15);
  @include respond-to(medium) {
    width: to-rem(380);
    height: to-rem(380);
    border-radius: to-rem(380);
    bottom: to-rem(-200);
  }
}

.home-tiles-section__tile-decor-3 {
  position: absolute;
  width: 87.5%;
  aspect-ratio: 1/1;
  bottom: -328px;
  border-radius: 542px;
  border: 1px solid rgba(var(--col-green-primary-rgb), 0.1);
  @include respond-to(medium) {
    width: to-rem(318);
    height: to-rem(318);
    border-radius: to-rem(318);
    bottom: to-rem(-200);
  }
}

.home-tiles-section__tile-zkevm-icon-wrapper {
  position: absolute;
  left: 40%;
  top: to-rem(-30);
  z-index: var(--z-icons);
  border-radius: to-rem(1475);
  background: #8937e9;
  width: to-rem(60);
  height: to-rem(60);
  color: var(--col-total-white);
  font-size: to-rem(13);
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond-to(medium) {
    width: to-rem(34);
    height: to-rem(34);
    font-size: to-rem(7.5);
    top: to-rem(-15);
  }
}

.home-tiles-section__tile-avalanche-icon-wrapper {
  position: absolute;
  top: 5%;
  right: 16%;
  z-index: var(--z-icons);
}

.home-tiles-section__tile-avalanche-icon {
  width: to-rem(61);
  height: to-rem(61);
  @include respond-to(medium) {
    width: to-rem(35);
    height: to-rem(35);
  }
}

.home-tiles-section__tile-binance-icon-wrapper {
  position: absolute;
  top: to-rem(-23);
  right: 33.5%;
  z-index: var(--z-icons);
  @include respond-to(medium) {
    top: to-rem(-13);
  }
}

.home-tiles-section__tile-binance-icon {
  width: to-rem(61);
  height: to-rem(61);
  @include respond-to(medium) {
    width: to-rem(36);
    height: to-rem(36);
  }
}

.home-tiles-section__tile-ether-icon-wrapper {
  position: absolute;
  top: to-rem(32);
  left: 13%;
  z-index: var(--z-icons);
  border-radius: to-rem(1000);
  background: #e9e9e9;
  width: to-rem(96);
  height: to-rem(96);
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond-to(medium) {
    width: to-rem(56);
    height: to-rem(56);
    top: to-rem(25);
  }
}

.home-tiles-section__tile-ether-icon {
  height: to-rem(44);
  width: to-rem(68);
  @include respond-to(medium) {
    height: to-rem(32);
    width: to-rem(54);
  }
}

.home-tiles-section__tile-polygon-icon-wrapper {
  position: absolute;
  top: 18%;
  left: 6.5%;
  z-index: var(--z-icons);
}

.home-tiles-section__tile-polygon-icon {
  width: to-rem(37);
  height: to-rem(37);
  @include respond-to(medium) {
    width: to-rem(21);
    height: to-rem(21);
  }
}