.home-hero-install-section{
  background: var(--col-white-secondary);
  border-radius: to-rem(30);
  padding: to-rem(22);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-hero-install-section__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-hero-install-section__header-navigation{
  display: flex;
  justify-content: space-between;
}

.home-hero-install-section__header-navigation{
  &-step, &-back {
    color: #69737C;
    font-size:to-rem(15);
    font-weight: 600;
  }
}

.home-hero-install-section__header{
  display: flex;
  flex-direction: column;
}
.home-hero-install-section__header-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.home-hero-install-section__icon-wrapper{
  position: relative;
}

.home-hero-install-section__button-icon{
  width: to-rem(75);
  height: to-rem(75);
  background: var(--col-total-white);
  border-radius: to-rem(50);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EBEBEB;
}

.home-hero-install-section__button-icon-metamask{
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: to-rem(24);
  height: to-rem(24);
  border-radius: 100%;
  background: var(--col-total-white);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.home-hero-install-section__text{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-hero-install-section__text-title {
  color: var(--col-secondary-black);
  font-weight: 700;
}

.home-hero-install-section__text-description {
  color: var(--col-secondary-black);
  font-size: to-rem(16);
  font-weight: 400;
  margin-top: to-rem(8);
}

.home-hero-install-section__footer{
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  font-size: to-rem(13);
  padding: to-rem(15) 0 0;
  border-top: 1px solid #DBDDDC;
}

.home-hero-install-section__footer-btn-install{
  padding: to-rem(12) to-rem(58);
  border-radius: to-rem(20);
  font-weight: 600;
  background: var(--col-blue-primary);
  color: var(--col-total-white);
}

.home-hero-install-section__footer-btn-cancel{
  padding: to-rem(12) to-rem(58);
  border-radius: to-rem(20);
  font-weight: 600;
  color: var(--col-blue-primary);
  border: 1px solid #545960;
  margin-right: to-rem(16);
}

.home-hero-install-section__content-card{
  padding: to-rem(15) 0;
  border-bottom: 1px solid #DBDDDC;
  display: flex;
  align-items: center;
  margin-top: to-rem(30);
  max-width: to-rem(260);
}

.home-hero-install-section__content-card-text{
  margin-left: to-rem(16);
  color: var(--col-secondary-black);
  font-size: to-rem(15);
  font-weight: 500;
}
