.home-hero-install-section {
  background: var(--col-white-secondary);
  border-radius: to-rem(15);
  padding: to-rem(22);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: to-rem(378);
  max-width: to-rem(378);

  @include respond-to(laptopL) {
    margin-right: 5%;
  }

  @include respond-to(xmedium) {
    max-width: to-rem(317);
  }

  @include respond-to(medium) {
    position: absolute;
    top: to-rem(120);
    z-index: var(--z-default);
    padding: to-rem(8) to-rem(8) to-rem(40);
    max-width: 30%;
    left: 35%;
    min-height: unset;
  }

  @include respond-to(small) {
    max-width: 55%;
    left: 22.5%;
    padding: to-rem(8) to-rem(8) to-rem(25);

  }
}

.home-hero-install-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-hero-install-section__header-navigation {
  display: flex;
  justify-content: space-between;
}

.home-hero-install-section__header-navigation {
  &-step, &-back {
    color: #69737c;
    font-size: to-rem(15);
    font-weight: 600;

    @include respond-to(xmedium) {
      font-size: to-rem(12);
    }

    @include respond-to(medium) {
      font-size: to-rem(8);
    }

  }
}

.home-hero-install-section__header {
  display: flex;
  flex-direction: column;
}

.home-hero-install-section__header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-hero-install-section__icon-wrapper {
  position: relative;
}

.home-hero-install-section__button-icon {
  width: to-rem(75);
  height: to-rem(75);
  background: var(--col-total-white);
  border-radius: to-rem(50);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebebeb;
}

.home-hero-install-section__button-icon {
  width: to-rem(56);
  height: to-rem(56);

  @include respond-to(xmedium) {
    width: to-rem(46);
    height: to-rem(46);
  }

  @include respond-to(medium) {
    width: to-rem(30);
    height: to-rem(30);
  }
}

.home-hero-install-section__button-icon-metamask {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: to-rem(24);
  height: to-rem(24);
  border-radius: 100%;
  background: var(--col-total-white);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 4%), 0 2px 6px 0 rgba(0, 0, 0, 5%);

  @include respond-to(xmedium) {
    width: to-rem(20);
    height: to-rem(20);
  }

  @include respond-to(medium) {
    width: to-rem(13);
    height: to-rem(13);
    bottom: 0;
    right: 0;
  }
}

.home-hero-install-section__button-svg-metamask {
  height: to-rem(16);
  width: to-rem(14);

  @include respond-to(xmedium) {
    width: to-rem(12);
    height: to-rem(11);
  }

  @include respond-to(medium) {
    width: to-rem(8);
    height: to-rem(7);
  }
}

.home-hero-install-section__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: to-rem(30);
  @include respond-to(medium) {
    margin-top: to-rem(10);
  }
}

.home-hero-install-section__text-title {
  color: var(--col-secondary-black);
  font-weight: 700;

  @include respond-to(xmedium) {
    font-size: to-rem(20);
  }

  @include respond-to(medium) {
    font-size: to-rem(13);
  }
}

.home-hero-install-section__text-description {
  color: var(--col-secondary-black);
  font-size: to-rem(16);
  font-weight: 400;
  margin-top: to-rem(8);

  @include respond-to(xmedium) {
    font-size: to-rem(12);
  }

  @include respond-to(medium) {
    font-size: to-rem(8);
  }
}

.home-hero-install-section__footer {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  font-size: to-rem(13);
  padding: to-rem(15) 0 0;
  margin-top: to-rem(75);
  border-top: 1px solid var(--col-secondary-border);

  @include respond-to(xmedium) {
  margin-top: to-rem(63);
  }
}

.home-hero-install-section__footer-btn-install {
  padding: to-rem(12) to-rem(58);
  border-radius: to-rem(20);
  font-weight: 600;
  background: var(--col-blue-primary);
  color: var(--col-total-white);

  @include respond-to(xmedium) {
    padding: to-rem(8) to-rem(45);
  }

  @include respond-to(medium) {
    display: none;
  }
}

.home-hero-install-section__footer-btn-cancel {
  padding: to-rem(12) to-rem(58);
  border-radius: to-rem(20);
  font-weight: 600;
  color: #545960;
  border: 1px solid #545960;
  margin-right: to-rem(16);

  @include respond-to(xmedium) {
    padding: to-rem(8) to-rem(45);
  }

  @include respond-to(medium) {
    display: none;
  }
}
.home-hero-install-section__content{
  margin-top: to-rem(30);
  @include respond-to(xmedium) {
    margin-top: to-rem(25);
  }

}

.home-hero-install-section__content-card {
  padding: to-rem(15) 0;
  border-bottom: 1px solid var(--col-secondary-border);
  display: flex;
  align-items: center;
  max-width: 90%;
  @include respond-to(medium) {
    margin-top: 0;
    padding: to-rem(10) 0;
  }
}

.home-hero-install-section__content-card-text {
  margin-left: to-rem(16);
  color: var(--col-secondary-black);
  font-size: to-rem(15);
  font-weight: 500;

  @include respond-to(xmedium) {
    font-size: to-rem(12);
  }

  @include respond-to(medium) {
    font-size: to-rem(8);
    text-align: left;
  }
}

.home-hero-install-section__modal-one {
  position: absolute;
  top: to-rem(65);
  left: to-rem(-120);
  display: flex;
  flex-direction: column;
  padding: to-rem(18);
  border-radius: to-rem(13);
  background: #d1fd51;

  @include respond-to(xmedium) {
    padding: to-rem(15.5);
    font-size: to-rem(13.5);
  }

  @include respond-to(medium) {
    padding: to-rem(10);
    left: to-rem(-60);
    top: to-rem(35);
  }
}

.home-hero-install-section__modal-one-text {
  color: var(--col-primary-black);
  font-size: to-rem(16);
  font-weight: 500;

  @include respond-to(xmedium) {
    font-size: to-rem(13.5);
  }

  @include respond-to(medium) {
    font-size: to-rem(8);
  }
}

.home-hero-install-section__modal-one-svg {
  width: to-rem(49);
  height: to-rem(49);

  @include respond-to(xmedium) {
    width: to-rem(40);
    height: to-rem(40);
  }

  @include respond-to(medium) {
    width: to-rem(26);
    height: to-rem(26);
  }
}

.home-hero-install-section__modal-one-icon-wrapper {
  display: flex;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.home-hero-install-section__modal-one-icon-halborn-wrapper {
  position: absolute;
  bottom: to-rem(-4);
  right: to-rem(-4);

  @include respond-to(xmedium) {
    bottom: to-rem(-4);
    right: to-rem(-4);
  }


  @include respond-to(medium) {
    bottom: to-rem(-3);
    right: to-rem(-2);
  }
}

.home-hero-install-section__modal-one-icon-halborn {
  width: to-rem(28);
  height: to-rem(28);

  @include respond-to(xmedium) {
    width: to-rem(23);
    height: to-rem(23);
  }

  @include respond-to(medium) {
    width: to-rem(15);
    height: to-rem(15);
  }
}

.home-hero-install-section__modal-two {
  position: absolute;
  top: to-rem(230);
  right: to-rem(-90);
  display: flex;
  flex-direction: column;
  padding: to-rem(18);
  border-radius: to-rem(13);
  background: var(--col-total-white);

  @include respond-to(xmedium) {
    top: to-rem(180);
    padding: to-rem(15.5);
  }

  @include respond-to(medium) {
    border-radius: to-rem(7);
    top: to-rem(90);
    right: to-rem(-70);

    padding: to-rem(8);
  }
}

.home-hero-install-section__modal-two-footer-title {
  text-align: left;
  margin-top: to-rem(12);
  @include respond-to(xmedium) {
    margin-top: to-rem(10);
  }
  @include respond-to(medium) {
    margin-top: to-rem(6);
  }
}

.home-hero-install-section__modal-two-header {
  display: flex;
  justify-content: start;
}

.home-hero-install-section__modal-two-footer-title {
  color: var(--col-primary-black);
  font-size: to-rem(12);
  font-weight: 500;

  @include respond-to(xmedium) {
    font-size: to-rem(10);
  }

  @include respond-to(medium) {
    font-size: to-rem(7);
  }
}

.home-hero-install-section__modal-two-footer-text {
  display: inline-block;
  color: rgba(var(--col-primary-black-rgb), 0.6);
  font-size: to-rem(11);
  font-weight: 400;
  margin-top: to-rem(7);

  @include respond-to(xmedium) {
    font-size: to-rem(9);
  }

  @include respond-to(medium) {
    font-size: to-rem(6);
  }
}

.home-hero-install-section__modal-two-footer-tag {
  display: inline-block;
  border-radius: to-rem(75);
  background: rgba(var(--col-green-primary-rgb), 0.05);
  padding: to-rem(3) to-rem(6);
  color: var(--col-green-primary);
  font-size: to-rem(8);
  font-style: normal;
  font-weight: 600;
  margin-left: to-rem(12);
  margin-top: to-rem(7);

  @include respond-to(xmedium) {
    font-size: to-rem(7);
  }
  @include respond-to(medium) {
    font-size: to-rem(6);
    margin-left: to-rem(6);
  }
}

.home-hero-install-section__decor {
  position: absolute;
  width: to-rem(475);
  height: to-rem(475);
  border-radius: to-rem(475);
  left: to-rem(-50);
  background: linear-gradient(180deg, rgba(255, 255, 255, 20%) -23.89%, rgba(255, 255, 255, 0%) 100%);
  pointer-events: none;

  @include respond-to(xmedium) {
    width: to-rem(398);
    height: to-rem(398);
  }

  @include respond-to(medium) {
    width: to-rem(258);
    height: to-rem(258);
    left: to-rem(-33);
  }
}

.home-hero-install-section__deco-mobile {
  display: none;
  @include respond-to(medium) {
    display: block;
    position: absolute;
    left: to-rem(15);
    top: to-rem(140);
    width: 90vw;
    height: to-rem(296);
    background: linear-gradient(180deg, rgba(0, 8, 20, 0%) 0%, #000814 100%);
    z-index: var(--z-default);
    pointer-events: none;
  }
}

.home-hero-install-section__content-card-img {
  @include respond-to(medium) {
    max-height: to-rem(13);
    max-width: to-rem(13);
  }
}

.home-hero-install-section__modal-two-header-icon {
  height: to-rem(38);
  width: to-rem(38);
  @include respond-to(medium) {
    height: to-rem(20);
    width: to-rem(20);
  }
}
