.home-hero-section {
  background: var(--col-primary-black);
  min-height: to-rem(800);
  @include respond-to(medium) {
    padding: 0 to-rem(20);
  }
}

.home-hero-section__content {
  position: relative;
  padding-top: to-rem(218);
  padding-bottom: to-rem(80);

  @include respond-to(medium) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.home-hero-section__hero-wrapper {
  max-width: to-rem(306);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: to-rem(32);
  text-align: center;

  @include respond-above(medium) {
    max-width: unset;
    align-items: stretch;
    margin: 0;
    text-align: left;
  }
}

.home-hero-section__title {
  margin-bottom: to-rem(16);
  text-transform: capitalize;
  color: var(--col-total-white);
  font-size: to-rem(80);
  font-weight: 700;

  @include respond-to(laptopL) {
    font-size: to-rem(70);
  }

  @include respond-to(medium) {
    font-size: to-rem(40);
  }

}

.home-hero-section__title-part {
  overflow: hidden;
  white-space: break-spaces;
}

.home-hero-section__title-part-2 {
  background: var(--col-total-white);
  color: var(--col-primary-black);
  border-radius: to-rem(10);
  display: inline-block;
  padding: 0 to-rem(20);
  margin: 0 to-rem(20);
  font-weight: 700;

  &-after {
    font-weight: 300;
  }

  @include respond-to(medium) {
    margin: 0;
    padding: 0 to-rem(10);
  }
}

.home-hero-section__text-wrapper {
  margin-bottom: max(vh(3), to-rem(24));
  max-width: 60%;

  @include respond-to(laptopL) {
    max-width: 50%;
  }

  @include respond-to(medium) {
    max-width: none;
    z-index: var(--z-icons);
    position: absolute;
    top: to-rem(320);
    left: 0;
  }
}

.home-hero-section__subtitle {
  font-size: to-rem(20);
  font-weight: 400;
  color: rgba(var(--col-total-white-rgb), 0.6);
  text-transform: capitalize;

  @include respond-to(laptopL) {
    font-size: to-rem(18);
  }

  @include respond-to(medium) {
    font-size: to-rem(14);
    text-align: center;
  }
}

.home-hero-section__description {
  font-size: to-rem(11);
  font-weight: 400;
  color: rgba(var(--col-total-white-rgb), 0.6);
  margin-top: to-rem(16);
  @include respond-to(medium) {
    font-size: to-rem(11);
    text-align: center;
  }
}

.home-hero-section__install-button {
  display: flex;
  align-items: center;
  font-size: to-rem(20);
  font-weight: 600;
  padding: to-rem(10) to-rem(16);
  border: 1px solid var(--col-green-primary);
  border-radius: to-rem(100);
  color: var(--col-total-white);
  background: var(--col-green-primary);
  margin-top: to-rem(48);

  &-text {
    margin-left: to-rem(8);
  }

  @include respond-to(medium) {
    margin-top: to-rem(24);
    margin-left: auto;
    margin-right: auto;
  }

  &:hover{
    color: var(--col-total-white);
    background: var(--col-green-hover);
    border: 1px solid var(--col-green-hover);
  }
  &:active{
    background: var(--col-green-press);
    border: 1px solid var(--col-green-press);
  }
}
