@mixin clearfix() {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin hover() {
  @media all and (hover: hover) {
    &:hover,
    &:focus-visible {
      @content;
    }
  }
}

@mixin mobile-hover() {
  @media all and (hover: none) {
    &:hover {
      @content;
    }
  }
}
