html {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font-family);
  word-spacing: to-rem(1);
  text-rendering: optimizelegibility;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-text-size-adjust: 100%;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* stylelint-disable-next-line declaration-no-important */
  -webkit-overflow-scrolling: touch !important;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  transition-property: color, background-color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);
}

body,
button,
p {
  font-size: var(--p-size, #{to-rem(16)});
  line-height: 1.4;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--primary-btn-color);
  outline: transparent;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus {
    outline: transparent;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

input,
textarea,
select {
  width: 100%;
  padding: to-rem(8) to-rem(16);
  background: no-repeat;
  border-radius: to-rem(8);
  box-shadow: none;

  &:focus {
    outline: transparent;
  }
}

p {
  margin: 0;
  font-weight: 400;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-title-color);
  word-wrap: break-word;
  transition-property: color;
  transition-duration: var(--medium-transition-duration);
  transition-timing-function: var(--hover-transition-timing-function);
}

h1 {
  margin-left: -0.03em;
  font-family: var(--secondary-font-family);
  font-size: var(--h1-size);
  line-height: 1.1;
  font-weight: 600;
}

h2 {
  font-size: var(--h2-size);
  line-height: 1.25;
  font-weight: 700;
}

h3 {
  font-size: var(--h3-size);
  line-height: 1.27;
  font-weight: 700;
}

h4 {
  font-size: var(--h4-size);
  line-height: 1.3;
  font-weight: 600;
}

h5 {
  font-size: var(--h5-size);
  line-height: 1.48;
  font-weight: 700;

  &.overline {
    margin-bottom: to-rem(24);
    color: var(--col-primary-grey);
    font-size: var(--overline-size);
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}

h6 {
  font-size: var(--h6-size);
  line-height: 1.23;
  font-weight: 500;
}

b,
strong {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

::placeholder {
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--primary-text-color) !important;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  padding-right: var(--container-side-padding);
  padding-left: var(--container-side-padding);
  margin-right: auto;
  margin-left: auto;
}

.green {
  background-color: var(--col-green-primary) !important;
}

.mobile-hidden {
  @include respond-to(medium) {
    display: none !important;
  }
}